@model List<WebApplication1.Models.Dept>
@{
    ViewData["Title"] = "部門列表";
}

<h2>部門列表</h2>

<div>
    <a href="@Url.ActionLink("Create", "Home")">新增成員</a>
</div>
<div class="row" style="width:300px;height:20px;margin:0 auto;">
    <div class="col-12">
        <table class="table">
            <thread>
                <tr>
                    <th scope="col">部門ID</th>
                    <th scope="col">部門名稱</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td>@item.DeptId</td>
                        <td>@item.DeptName</td>
                        <td><a href="@Url.ActionLink("Details","Home",new{deptid=@item.DeptId})">編輯</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

